
<% provide(:title, 'Help') %>








		<h1>Help</h1>
		<p>
		I'm not sure what you could possibly need help with.  However, if you insist,
		you may contact me at 
		<a href="mailto:miless@onlynaturalpet.com">miless@onlynaturalpet.com</a>, and I
		will eventually reply.
		</p>


