<% provide(:title, 'Home') %>
<!--<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>-->

<div class="center hero-unit">
	<h1>The ONPS Compiere<sup><small><strong>&#174</strong></small></sup> Wiki</h1>

	<h2>
		Like a Library of Alexandria that hasn't been burned down yet.
	</h2>
	<div class="span6 offset2">
		<%= link_to "Articles", 'articles', class: "btn btn-large btn-block btn-info" %>
	</div>
</div>


  
