<!DOCTYPE html>
<!--<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>-->
<html>
	<head>
		<title>ONPS Compiere Wiki- Compiere Knowledge, For the Benefit of All Mankind.
		</title>
	</head>
	<body>
		<h1>Welcome to the ONPS Compiere Wiki</h1>
		<p>
		Think of this as the Library of Alexandria, but for subjects less trivial
		than, say, astronomy or mathematics.
		</p>
	</body>
</html>
  
