<% provide(:title, "New Article") %>
<h1>New Article</h1>
<% if signed_in? %>


			<%= render 'articles/article_form' %>


<% else %> 
	<p>
		You must be a registered user to add or edit articles.
	</p>
<% end %>























