<footer class="footer">
	<small>
		<a href="#">Compiere Wiki</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Link 1 (Opt)", 		'#' %></li>
			<li><%= link_to "Link 2 (Opt)",	'#' %></li>
	
		</ul>
	</nav>
</footer>
