<footer class="footer">
	<small>
		<a href="#">Compiere Wiki</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Staging", 		'http://184.169.143.80/apps/Compiere.html#home' %></li>
			<li><%= link_to "Production",	'http://184.168.143.131/apps/Compiere.html#home' %></li>
	
		</ul>
	</nav>
</footer>
